.list {
	width: 100%;
	& > li {
		margin-bottom: var(--space-sm);
		list-style-position: inside;
	}

	& > li::marker {
		color: var(--primary);
	}

	& > li > ul > li {
		margin-bottom: 0;
		margin-left: var(--space-xl);
		list-style-type: none;
	}
}

.listSecondary {
	& > li::marker {
		color: var(--secondary);
	}
}
