/* for paragraphs */
@font-face {
	font-family: 'lato';
	font-weight: normal;
	src: url(/public/assets/fonts/Lato-Light.ttf);
}

/* for titles */
@font-face {
	font-family: 'playfairDisplay';
	src: url(/public/assets/fonts/PlayfairDisplay-bold.ttf);
	font-weight: bold;
}

* {
	--font-paragraph: 'lato';
	--font-title: 'playfairDisplay';
}
