body {
	font-size: var(--font-md);
}

p,
a,
span,
li {
	font-family: var(--font-paragraph);
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6,
.button {
	font-family: var(--font-title);
	text-wrap: balance;
}
