* {
	--light: #f2f2f2;
	--dark: #0d0d0d;

	--background: #e9e9e9;
	--background-dark: #d2d2d2;

	--primary: #45527d;
	--primary-light: #7f8ece;

	--secondary: #5f323d;
	--secondary-transparent: #5f323dc2;
	--secondary-light: #c98591;

	--success: #128c7e;
	--success-light: #1da54f;
}
