* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-width: 300px;
	background-color: var(--background);
	color: var(--dark);
}

a {
	text-decoration: none;
	font-family: var(--font-paragraph);
	color: inherit;
}
